
/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/
:root {
    --Light: #F1FAEE;
    --Aqua: #A8DADC;
    --Light-Blue: #457B9D;
    --Dark-Blue: #1D3557;
    --Emerald: #cdffd6;
    --Mint: #71B48D;
    --YingMin-Blue: #404E7C;
    --SpaceCadet-DarkBlue: #251F47;
    --Dark-Purple: #260F26;
}   
@font-face {
    font-family: "Moomello Free";
    src: url('fonts/Moomello-Free.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    text-align: center;
    font-family: "Moomello Free", "Segoe UI", "Arial", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
    width: 100px;
}

.hero-section {
    background-image: url("images/hero-section.jpeg");
    background-size: cover;
    height: 400px;
    background-position: bottom 10% center;
    padding: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

h1 {
    border-radius: 10px;
    background-color: var(--SpaceCadet-DarkBlue);
    padding: 15px;
    color: var(--Light);
    font-weight: bold;
    font-size: 2.5em;
}

h2 {
    border-radius: 10px;
    background-color: var(--Light-Blue);
    padding: 3px;
    color: var(--Light);
}

.activities-section {
    padding: 5px;
    background-color: var(--Emerald);
    color: var(--Dark-Purple)
}

.image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.image-wrapper {
    display: flex;
    flex: 1;
    margin: 0;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 400px;
}

.image-wrapper p {
    height: 80px;
}

.image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%
}

.guide-section {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--SpaceCadet-DarkBlue);
    height:200px;
    width: 400px;
    margin: 20px auto; /* Add this line to center the element */
    padding-top: 20px;
    box-shadow: 10px 10px 10px var(--Dark-Blue);
    border-radius: 10px;
}

#guide-text {
    font-style: italic;
    color: var(--Light);
    text-align: center;
    padding: 10px;
    margin: 0 0 0 10px;
}

#guide-image {
    border-radius: 10px;
    margin: 0 10px 0 0;
    border: solid 2px var(--Light);
}

footer {
    margin-top: 40px;
    background-color: var(--Light-Blue);
    color: var(--Light);
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: var(--Emerald);
    text-decoration: underline;
}

footer a:hover {
    font-size: 2em;
}

/*#footer-animation {
  width: 400px;
  height: 30px;
  background-color: var(--Emerald);
  position: relative;
  text-align: center;
  animation-name: guide-email;
  animation-duration: 4s;
  animation-iteration-count: 3;
  animation-timing-function: ease-in-out;
}

@keyframes guide-email {
  0%   {background-color: var(--Emerald); left:0px; right:0px;}
  25%  {background-color: var(--Aqua); left:0px; right:200px;}
  50%  {background-color: var(--Emerald); left:0px; right:0px;}
  75%  {background-color: var(--Aqua); left:0px; right:200px;}
  100% {background-color: var(--Emerald); left:0px; right:0px;}
}*/